*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1280px;
    width: 100%;
}
.header{
    display: inline-flex;
    height: 86px;
    padding: 13px 28px 13px 24px;
    align-items: center;
    border-radius: 70px;
    background: var(--gray-2, #FAFAFA);
    margin-top: 30px;
}
ul{
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}
.ul1{
    gap: 40px;
}
.logo{
    cursor: auto;
}
.bar{
    cursor:pointer;
}
.searchbar{
    display: flex;
    height: 60px;
    padding: 18px 35.556px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--White, #FEFEFF);
}
.ul2{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
.searchicon{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.contact{
    display: flex;
    height: 60px;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid var(--gray-Color, #BEBEBE);
    background: var(--White, #FEFEFF);
    margin-top: 0;
}
.linkbar{
    margin-top: 10px;
    cursor: pointer;
}
.media-box{
    margin-top: 80px;
    height: 450px;
    width: 1280px;
    background-image: linear-gradient( to right, #c1dee8, #fbd9b9);
    border-radius: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    position: relative;
}
.media-text{
    margin-top: 70px;
    margin-left: 40px;
    position: absolute;
}
h1{
    font-size: 63px;
    position: absolute;
    margin-left: 40px;
    margin-top: 90px;
}
.media-text1{
    margin-top: 260px;
    margin-left: 40px;
    position: absolute;
}
.e-button{
    width: 400px;
    height: 45px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    margin-top: 330px;
    margin-left: 40px;
    display: flex;
}
.input-email{
    outline: none;
    border: 0;
    margin-left: 20px;
    font-size: 16px;
}
.input-email::placeholder {
    color: grey;
    opacity: 1;
}
.input-quote{
    height: 45px;
    width: 120px;
    margin-left: 320px;
    border: none;
    color: white;
    background-color: black;
    position: absolute;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.9;
}
.input-quote:hover{
    opacity: 1;
}
.house{
    margin-left: 650px;
    height: 460px;
    width: 600px;
    margin-top: -10px;
}
.text{
    text-align: center;
    margin-top: 80px;
    margin-bottom: -50px;
}
h2{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}
h3{
    font-size: 28px;
}
.content{
    margin-top: 45px;
    padding: 0;
    align-items: flex-start;
    gap: 140px;
}
p{
    line-height: 24px;
}
.line{
    margin-top: 80px;
}
.heading{
    margin-top: -5px;
    text-align: left;
}
.villas{
    gap: 22px;
    padding: 0;
}
.villa{
    height: 263px;
    width: 410px;
}
.rating{
    width: 137px;
}
h4{
    font-size: 21px;
}
h5{
    font-size: 38px;
    margin-top: 120px;
    margin-left: 65px;
}
.para{
    margin-left: 65px;
    margin-top: -25px;
}
.photo{
    height: 577px;
    width: 525px;
    margin-left: 690px;
    margin-top:-555px;
    position: absolute;
}
.book-btn{
    display: flex;
    height: 60px;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 0;
    background-color: black;
    color: white;
    margin-top: 0;
    margin-right: 20px;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.buttons{
    margin-left: 25px;
    margin-top: 50px;
}
.num{
    margin-left: 40px;
    gap: 90px;
    margin-top: -20px;
}
.txt{
    margin-top: -40px;
    margin-left: 10px;
}
.footer-heading{
    text-align: left;
    margin-top: 80px;
    margin-left: 40px;
    position: absolute;
    font-size: 48px;
}
.footer-txt{
    margin-left: 40px;
    margin-top: 180px;
    position: absolute;
    line-height: 1.6;
}
.footer{
    margin-top: 150px;
}
.navigation{
    gap: 700px;
    margin-left: -45px;
    cursor: pointer;
}
